---
import ProductColor from "../components/ProductColor.astro";
const { data } = Astro.props;
---


<article class="card">
  <img src={data.image} alt={`Image of ${data.name}`} />

  <h2>{data.collection}</h2>
  <p>{data.name}</p>

  <div class="boxes">
    {
      data.colors &&
        data.colors.map((farve) => {
          return <ProductColor color={farve} />;
        })
    }

  </div>

  <p>{data.price}</p>
  <a href=`/products/${data.slug}`>Se produkt</a>
</article>
<style>
  .card {

    background-color: gray;
    border: 2px solid rgb(255, 255, 255);
    display: grid;
    grid-template-rows: auto;
    gap: 1.5rem;
    justify-content: space-around;
    padding-top: 2rem;
  }
  .card img {
    width: 100%;
    object-fit: cover;
    height: 500px;
    margin-bottom: 20px;
  }

  .box {
    height: 20px;
    width: 20px;
    margin-bottom: 15px;
    border: 1px solid black;
    display: inline-block;
  }
  h2,
  p {
    padding-left: 10px;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    margin-bottom: 10px;
  }


  .boxes {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    margin-bottom: 1rem;
    padding-left: 10px;

  }

  @media (max-width: 767px) {
    .cards {
      display: grid;
      grid-template-columns: 1fr;
      padding: 20px;
    }
    .card img {
      width: 80%;
      object-fit: cover;
      height: 500px;
      margin-bottom: 20px;
      margin-left: 60px;
    }
    h4 {
      position: absolute;
      margin-left: 50px;
      margin-top: 17px;
      font-family: Helvetica;
      padding-left: 30px;
    }
    h2 {
      padding-left: 60px;
      color: #f3f0e9;
      font-family: Helvetica;
      margin-bottom: 10px;
      text-decoration: none;
    }
    h3 {
      padding-left: 60px;
      color: #f7c1d9;
      font-family: Helvetica;
      padding-bottom: 20px;
    }
    a {
      text-decoration: none;
    }
    .boxes {
      position: sticky;
      padding-left: 60px;
    }
  }
</style>
