---
import Collage from "../../components/Collage.astro";
import Product from "../../components/Product.astro";
import Layout from "../../layouts/Layout.astro";
import ProductColor from "../../components/ProductColor.astro";

export async function getStaticPaths() {
  const url = "https://ebgaaozuxogfzybvmnnq.supabase.co/rest/v1/bareenxjoe";
  const key = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImViZ2Fhb3p1eG9nZnp5YnZtbm5xIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDQzNTU5NjEsImV4cCI6MjA1OTkzMTk2MX0.q07QZjBbiQbXNdPpXdaXU5fPVoy1aB5jVG3Meh85UR4";

  const options = {
    headers: {
      apikey: key,
    },
  };

  const request = await fetch(url, options);
  const data = await request.json();

  return data.map((item) => {
    return {
      params: { product: item.slug },
      props: { item },
    };
  });
}

const { item } = Astro.props;
---

<Layout>
  <section>
    <div class="knap back">
      <a href="/cardspage"> <button>TILBAGE</button> </a>
    </div>

    <div class="indhold">
      <div class="img-container">
        <img src={item.image} alt={`Image of ${item.name}`} />
      </div>

      <div>
        <div class="tekst">
          <div>
            <h2 class="grå">bareen x Joe & The Juice</h2>
            <h1>{item.name}</h1>
            <p>{item.price}</p>
            <div class="farve">
              <h2>Farve:</h2>
              <div class="boxes">
                {
                  item.colors &&
                    item.colors.map((farve) => {
                      return <ProductColor color={farve} />;
                    })
                }
              </div>
            </div>
            <div class="sizes">
              <h2>Størrelse:</h2>
              <div class="size">
                <div class="square_size">S</div>
                <div class="square_size">M</div>
                <div class="square_size">L</div>
                <div class="square_size">XL</div>
              </div>
            </div>

            <div class="knap">
              <button>KØB</button>
            </div>

            <div class="beskrivelse">
              <h2>Beskrivelse:</h2>
              <p>{item.description}</p>
              <p>{item.info}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <Collage />
</Layout>

<style>
  section {
    margin-bottom: 4rem;
  }
  .grå {
    font-style: italic;
    color: #a1a0a0;
    margin-bottom: 1rem;
  }
  .back {
    margin-bottom: 2rem;
  }

  .tekst {
    margin-top: 2rem;
  }

  body {
    background-color: #6f6f6f;
  }

  .img {
    max-width: 100%;
    height: auto;
    z-index: 0;
  }

  .boxes {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    margin-bottom: 1rem;
  }
  .size {
    display: flex;
    gap: 10px;
  }

  .square_size {
    width: 30px;
    height: 30px;
    background-color: #ebebeb;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
    font-size: 14px;
    transition: transform 0.3s ease;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
  }

  .square_size:hover {
    transform: scale(1.1);
  }

  .img-container img {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .knap button {
    padding: 0.75rem 1.5rem;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1rem;
    background-color: #353535;
    color: #f3f0e9;
    border: 4px solid;
    border-color: #f7c1d9;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  }

  .knap button:hover {
    background-color: #f7c1d9;
    border-color: #f3f0e9;
    color: #353535;
  }

  ul li {
    margin-bottom: 15px;
  }

  .farve {
    margin-top: 30px;
  }

  .sizes {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .beskrivelse {
    margin-top: 30px;
  }

  section {
    padding: 45px;
  }

  ul {
    color: #f3f0e9;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 1rem;
    margin-top: 2rem;
  }

  p {
    margin-top: 1rem;
  }

  @media (min-width: 768px) {
    .indhold {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 40px;
    }

    ul {
      font-size: 1.2rem;
    }

    .back {
      margin-bottom: 2rem;
      margin-left: 2rem;
    }

    .tekst {
      margin-top: 0rem;
    }
  }
</style>
